doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/normalize.css")
        link(rel="stylesheet", href="./styles/style.css")
        title Document
    body
        //- First container of items
        //- header with logo and apply button
        header
            div
                img(src="./assets/images/logo-light.svg", alt="workit logo")
                button Apply for access
        
            section
                //- First heading and learn more button          
                h1 Data 
                    span tailored 
                    | to your needs.
                button Learn more

                //- Phone image, positioned relatively ?
                img(src="./assets/images/image-hero.webp", alt="phone-image", width="300")
        
        //- Section with list of benefits
        main 
            section
                ol
                    li 
                        span 1
                        h2 Actionable insights 
                        p 
                            | Optimize your products, improve customer 
                            | satisfaction and stay ahead of the competition 
                            | with our product data analytics.
                    li 
                        span 2
                        h2 Data-driven decisions
                        p 
                            | Make data-driven decisions with our product
                            | data analytics. Our AI-generated reports help 
                            | you unlock insights hidden in your product data.
                    li 
                        span 3
                        h2 Always affordable
                        p 
                            | Always affordable pricing that scales with your 
                            | business. Get top-quality product data 
                            | analytics services without hidden costs or 
                            | unexpected fees.
        
            //- section with img of founder and his welcome message
            section
                img(src="./assets/images/image-founder.webp", alt="Photo of founder of the company", width="300")
                //- Welcome message
                div 
                    h2 Be the first to test 
                    p
                        | Hi, I'm Louis Graham, the founder of 
                        | the company. Book a demo call with 
                        | me to become a beta tester for our
                        | app and kickstart your company. Apply
                        | for access below and I'll be in touch to
                        | schedule a call.
                    button Apply for access
        
        //- workit logo with their social medias
        footer 
            img(src="./assets/images/logo-dark.svg", alt="workit logo")
            //- social medias
            div 
                img(src="./assets/images/icon-facebook.svg", alt="")
                img(src="./assets/images/icon-instagram.svg", alt="")
                img(src="./assets/images/icon-twitter.svg", alt="")





