/* Hanken Grotesk - variable version */
@font-face {
  font-family: "Hanken Grotesk VF";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  /* I only use weights in this range */
  font-weight: 500 800;
  font-style: normal;
}
/* Hanken Grotesk static version as fallback for older browsers */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* General styles */

html {
  font-size: 10px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
  font-weight: inherit;
  font-family: inherit;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  margin: 0;
}

/* General user score section */

#user-score {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  width: 100%;
}
#user-score h1 {
  font-size: 2rem;
}
#user-score #circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  width: 20rem;
  border-radius: 10rem;
}
#user-score #circle #number {
  font-size: 10rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
#user-score #congrats-section {
  width: 75%;
  margin-bottom: 4rem;
}
#user-score #congrats-section h2 {
  color: hsl(0, 0%, 100%);
  margin: 0 0 1rem 0;
}
#user-score #congrats-section p {
  margin: 0;
}

/* User summary section */

.material-symbols-outlined {
  margin-right: 1rem;
  font-weight: 300 !important;
}

#summmary-section {
  padding: 3rem 3rem 0 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
}
#summmary-section h2 {
  /* Additionally highlight the section heading */
  margin: 0 0 3rem 0;
  font-size: 2rem;
  color: hsl(224, 30%, 27%);
}
/* For some margin around list and button */
#summmary-section #list-container {
  margin: 1rem 0 0rem 0;
}
#summmary-section ul {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* height of 4 items with padding and margin with default root font-size(10px) */
  max-height: 26rem;
  margin: 0;
}
#summmary-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  /* Make color from transparent to $paleBlue(hsla(221, 100%, 96%, n))
  Where n = (100 - user_category_score) / 100
  background-color: hsla(221, 100%, 96%, 0.01) */
  width: 100%;
  border: none;
  box-shadow: 0px 0px 0.1px 0.3px rgba(0, 0, 0, 0.1) inset;
  color: hsl(0, 100%, 67%);
}
#summmary-section ul li:first-child {
  margin-top: 0;
}
#summmary-section ul li:nth-of-type(2n) {
  color: hsl(39, 100%, 56%);
}
#summmary-section ul li:nth-of-type(3n) {
  color: hsl(166, 100%, 37%);
}
#summmary-section ul li:nth-of-type(4n) {
  color: hsl(234, 85%, 45%);
}
#summmary-section ul li .category-result {
  color: hsl(241, 100%, 89%);
}
#summmary-section ul li .category-result .user-category-score {
  color: hsl(224, 30%, 27%);
}
#summmary-section ul li .summary-category {
  display: flex;
  align-items: center;
}
#summmary-section ul li .summary-category img {
  margin-right: 1rem;
}
#summmary-section .button-container {
  display: flex;
  align-items: center;
  height: 30%;
  min-height: 10rem;
}
#summmary-section .continue-button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 1.1em;
  width: 100%;
  padding: 1.5rem 0;
  border-radius: 2.5rem;
  border: none;
}
#summmary-section .continue-button:hover {
  /* back-gradient for hover state of this button */
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}
#summmary-section .continue-button:focus {
  /* back-gradient for hover state of this button */
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* Attribution */

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 700px) {
  body {
    margin: 0;
    padding: 0;
  }
  #container {
    width: 100vw;
    height: 100vh;
    /* min height for correct view at small screen*/
    display: flex;
    justify-content: center;
  }
  main {
    display: grid;
    grid-template-columns: 35rem 35rem;
    box-shadow: 0px 30px 50px 1px hsla(224, 30%, 27%, 0.2);
    height: 50rem;
    margin: auto;
    border-radius: 3rem;
  }
  #user-score {
    border-radius: 3rem;
  }
  #summary-section h2 {
    margin: 3rem 0;
  }
}

/*"5: some browsers unnecessarily download all the font files
if you write the font stack like..." font-family: 'Hanken Grotesk VF', 'Hanken Grotesk', sans-serif;

"5: I only want to style my text with the variable font 
if the browser supports it. This means writing 
another font-family declaration inside a 
feature query. I put it after the first one 
so it will override the fallback styling." */
@supports (font-variation-settings: normal) {
  html {
    font-family: "Hanken Grotesk VF", sans-serif;
  }
  /* "5: @supports is the secret ingredient that makes 
  it possible to style things differently when 
  variable fonts work in the browser. Now Firefox 
  62 will only download variable font and Edge 16 
  will only download the static fonts." */
}
/*# sourceMappingURL=style.css.map */